.card_header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 3px;
    line-height: 1.25rem;
  }
  
  .card_header p:nth-child(2) {
    color: red;
  }
  